*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  font-size: 100%;
  background-color: white;
  -webkit-text-size-adjust: 120%; }

body {
  height: 100%;
  font-family: "Whitney SSm A", "Whitney SSm B", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.625;
  margin: 0;
  padding: 0;
  color: black;
  text-rendering: optimizeLegibility; }

header, footer, article, section {
  display: block; }

a {
  color: #853371; }
  a:hover, a:active {
    color: #e34dbd; }
  a:visited {
    color: black; }

h1 a, h2 a, h3 a, h4 a {
  text-decoration: none; }

p {
  margin: 0 0 1.625rem; }

h1, h2, h3, h4 {
  margin: 0 0 1.625rem;
  font-weight: inherit;
  line-height: 1.2;
  font-weight: 500;
  color: #853371; }

h1 {
  margin-top: 0;
  font-size: 1.625rem; }

h2 {
  font-size: 1.424rem; }

h3 {
  font-size: 1.266rem; }

h4 {
  font-size: 1.125rem; }

small, .font_small {
  font-size: 0.889rem; }

.huge {
  font-size: 4.6rem;
  font-weight: 700; }

.pagetitle {
  position: relative; }
  @media only screen and (min-width: 36em) {
    .pagetitle::before {
      content: '';
      background-color: #853371;
      height: .4em;
      width: .8em;
      position: absolute;
      left: -1.4em;
      top: .2em; }
    .pagetitle::after {
      content: '';
      background-color: #853371;
      height: .4em;
      width: .4em;
      position: absolute;
      left: -1em;
      top: .6em; } }

blockquote {
  font-family: "Whitney SSm A", "Whitney SSm B", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  padding: 1em 0;
  margin: 0; }

figure {
  margin: 0; }
  figure img {
    max-width: 100%; }

ul, ol {
  list-style-position: inside;
  padding: 0;
  list-style-type: square; }

fieldset {
  border: none;
  padding: 0;
  overflow: hidden; }

label {
  display: block;
  margin-top: 1rem; }

textarea {
  min-height: 10rem; }

.input--regular {
  font-size: 1.2rem;
  padding: .6rem;
  width: 100%;
  border: 1px solid #595252; }

.button--regular {
  display: inline-block;
  float: right;
  padding: .5rem 1em;
  font-size: 1.2rem;
  background-color: #853371;
  color: white;
  border: 1px solid rgba(89, 82, 82, 0.4); }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.screen {
  position: relative;
  z-index: 10;
  min-height: 40%;
  background-color: #2a2a2a;
  background-position: 50% 100%;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) inset; }
  @media only screen and (min-width: 36em) {
    .screen {
      min-height: 40%; } }
  .screen .maintitle {
    position: absolute;
    bottom: 1em;
    left: 1em;
    max-width: 70%; }
    @media only screen and (min-width: 60em) {
      .screen .maintitle {
        max-width: 30%; } }

.screen--intro {
  background-image: url("../images/screens/launch-2.jpg");
  padding: 2% 0 4% 0;
  /*
  		-webkit-background-size: 180%;
  		-moz-background-size: 180%;
  		background-size: 180%;
  */ }
  @media only screen and (min-width: 40em) {
    .screen--intro {
      background-position: 50% 100%;
      min-height: 100%; } }
  @media only screen and (min-width: 60em) {
    .screen--intro {
      background-position: 50% 100%;
      min-height: 100%; } }
  .screen--intro .maintitle {
    position: absolute;
    left: 10%;
    top: 20%;
    margin: 0; }
    @media only screen and (min-width: 40em) {
      .screen--intro .maintitle {
        left: 35%; } }

.screen--projects {
  background-image: url("../images/screens/launch.jpg");
  background-position: 50% 50%; }

.screen--single-project {
  background-image: url("../images/screens/explore-moon-2.jpg");
  background-position: 50% 30%; }
  .screen--single-project .maintitle {
    bottom: auto;
    left: 2%;
    top: 30%;
    text-align: center; }

.screen--article {
  background-image: url("../images/screens/explore-moon.jpg");
  background-position: 50% 0%;
  background-size: 100% auto;
  background-attachment: fixed; }

.screen--about {
  background-image: url("../images/screens/horizon.jpg"); }

.screen--contact {
  background-image: url("../images/screens/nebula-2.jpg");
  background-position: 50% 0%; }

.maincontent {
  position: relative;
  padding-top: 4em;
  padding-bottom: 2em; }

.container--centered {
  display: block;
  width: auto;
  margin-left: 1em;
  margin-right: 1em;
  max-width: 30em; }
  @media only screen and (min-width: 36em) {
    .container--centered {
      padding-left: 6em;
      margin-left: auto;
      margin-right: auto; } }
  @media only screen and (min-width: 60em) {
    .container--centered {
      padding-left: 20em;
      max-width: 58em;
      position: relative; } }

.component {
  margin-bottom: 5.2rem;
  position: relative; }

.component--primary,
.component--secondary {
  background-color: transparent;
  color: white;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  padding: 0; }
  .component--primary .component__content,
  .component--secondary .component__content {
    padding: 1.3em;
    margin-left: 2px;
    -webkit-flex: 0 1 auto;
    -moz-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    -o-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 100%; }
  .component--primary::after,
  .component--secondary::after {
    content: none;
    position: relative;
    width: auto;
    height: auto;
    top: auto;
    left: auto; }
  .component--primary::before,
  .component--secondary::before {
    position: relative;
    width: auto;
    height: auto;
    top: auto;
    left: auto;
    -webkit-flex: 0 1 auto;
    -moz-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    -o-flex: 0 1 auto;
    flex: 0 1 auto;
    min-width: 2rem; }
    @media only screen and (min-width: 36em) {
      .component--primary::before,
      .component--secondary::before {
        content: ''; } }
    @media only screen and (min-width: 36em) {
      .component--primary::before,
      .component--secondary::before {
        min-width: calc(10rem - 2px); } }
  .component--primary h1, .component--primary h2, .component--primary h3, .component--primary h4, .component--primary a,
  .component--secondary h1,
  .component--secondary h2,
  .component--secondary h3,
  .component--secondary h4,
  .component--secondary a {
    border: none;
    margin-bottom: 0; }

.component--quote {
  text-align: center;
  margin-bottom: 2.6rem; }
  @media only screen and (min-width: 36em) {
    .component--quote::before {
      font-size: 6rem;
      content: open-quote;
      color: rgba(0, 0, 0, 0.3); } }
  @media only screen and (min-width: 60em) {
    .component--quote::before {
      font-size: 6rem;
      padding-left: 0; } }

@media only screen and (min-width: 36em) {
  .component--primary {
    margin-left: -10em; } }
.component--primary::before {
  background-color: #67c4d2; }
.component--primary .component__content {
  background-color: #b0c4d8; }
.component--primary.overlay:before {
  background-color: rgba(103, 196, 210, 0.8); }
.component--primary.overlay .component__content {
  background-color: rgba(176, 196, 216, 0.8); }
.component--primary h1, .component--primary h2, .component--primary h3, .component--primary h4, .component--primary a, .component--primary ul {
  color: black;
  border: none; }

@media only screen and (min-width: 36em) {
  .component--secondary {
    margin-left: -10em; } }
.component--secondary::before {
  background-color: #b0c4d8; }
.component--secondary .component__content {
  background-color: #853371; }
.component--secondary.overlay::before {
  background-color: rgba(176, 196, 216, 0.6); }
.component--secondary.overlay .component__content {
  background-color: rgba(133, 51, 113, 0.6); }
.component--secondary h1, .component--secondary h2, .component--secondary h3, .component--secondary h4, .component--secondary a {
  color: white;
  border: none; }

@media only screen and (min-width: 60em) {
  .mainquote {
    position: absolute;
    left: 0; } }
@media only screen and (min-width: 60em) {
  .mainquote::before {
    min-width: 4rem; } }

.maintitle {
  z-index: 9;
  position: relative; }
  .maintitle .logo {
    width: 100%; }

.maintitle__subtitle {
  display: block;
  font-size: 100%;
  color: rgba(255, 255, 255, 0.8); }

.maintitle__subtitle--inverted {
  color: black; }

.link-to-mainnav {
  position: fixed;
  right: 2%;
  top: .7%;
  z-index: 99;
  display: block;
  padding: .5em;
  text-decoration: none;
  font-size: 2.2rem;
  line-height: .6em;
  color: black !important;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.4), -1px -1px 0px rgba(255, 255, 255, 0.4), 1px -1px 0px rgba(255, 255, 255, 0.4), -1px 1px 0px rgba(255, 255, 255, 0.4);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4); }
  @media only screen and (min-width: 36em) {
    .link-to-mainnav {
      display: none; } }

.mainnav {
  margin: 0;
  padding: 0 0 10rem 0;
  z-index: 12;
  background-color: #595252; }
  .mainnav ol {
    padding: 0;
    margin: 0;
    list-style: none; }

.mainnav__item {
  text-align: center;
  margin-bottom: .5em; }
  .mainnav__item:hover {
    background-color: #853371; }
  .mainnav__item a {
    display: block;
    padding: .7em 0;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none; }

@media only screen and (min-width: 36em) {
  .mainnav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: right;
    padding: 0 2%;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 0px 1px rgba(176, 196, 216, 0.8);
    font-size: 1.2em;
    color: black; }
    .mainnav ol:hover .mainnav__item:hover a {
      color: #853371; }

  .mainnav__item {
    display: inline-block;
    font-size: 83%;
    padding: 0;
    margin-bottom: 0; }
    .mainnav__item:hover {
      background-color: transparent; }
    .mainnav__item a {
      padding: .7em 1em;
      color: black; } }
.projects {
  list-style: none;
  margin: 0 0 10em 0;
  padding: 0; }

.projects__client {
  position: relative;
  min-height: 10em;
  margin-bottom: 4em; }
  .projects__client .project-holder {
    display: block;
    padding: .5em;
    text-decoration: none; }
  .projects__client .project-link {
    color: black; }
  .projects__client .project-link:hover, .projects__client .project-link:active {
    background-color: rgba(176, 196, 216, 0.2);
    color: black; }
  .projects__client .client__logo {
    float: right;
    height: 5em;
    width: 5em;
    padding: 1em;
    margin: 0 0 1em 1em;
    background-color: white;
    border: 1px solid #b0c4d8; }
    @media only screen and (min-width: 36em) {
      .projects__client .client__logo {
        position: absolute;
        left: -9em;
        height: 8em;
        width: 6em;
        float: none;
        border: none;
        padding: 0;
        margin: 0; } }
  .projects__client .client__logo__image {
    width: 100%; }
  .projects__client .client__name {
    color: #67c4d2;
    font-weight: 500;
    margin-top: 0; }

.projects-logo-only, .projects-logo-only--small {
  list-style: none;
  margin: 0 0 5.2rem 0;
  padding: 0;
  text-align: justify;
  text-align-last: justify; }
  .projects-logo-only a, .projects-logo-only--small a {
    text-decoration: none; }

.project-logo {
  text-align: left;
  display: inline-block;
  width: 23%;
  margin-bottom: 2.6rem;
  vertical-align: top; }
  .project-logo .client__name {
    font-size: 0.8rem;
    line-height: 1.2;
    color: #67c4d2;
    font-weight: 500;
    text-align: left;
    text-align-last: left; }
  .project-logo .client__logo__image {
    display: block;
    width: 80%; }

.projects-logo-only--small .client__name {
  display: none;
  font-size: 0.8rem;
  line-height: 1.2;
  font-weight: 300;
  text-align: left;
  text-align-last: left; }
.projects-logo-only--small a {
  text-decoration: none; }

.single-project-mainheader {
  position: absolute;
  top: 35%;
  width: 90%;
  padding: 5%;
  text-align: center;
  color: white;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.4); }
  .werkenvoornederland .single-project-mainheader {
    top: 20%; }
  .single-project-mainheader h1 {
    color: white;
    margin-bottom: .2em; }

.videowrapper {
  width: 100%;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 56.25%; }
  .videowrapper iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }

.spinner .spinner-label, .spinner .spinner--content, .spinner ul {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  font-size: 1.202rem;
  line-height: 1.4rem;
  height: 1.4rem; }
.spinner .spinner-label {
  color: #853371; }
.spinner .spinner--content {
  overflow: hidden;
  margin: 0 0 0 0;
  color: black; }
.spinner ul {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-animation: spinner 15s 3s infinite;
  /* Safari 4+ */
  -moz-animation: spinner 15s 3s infinite;
  /* Fx 5+ */
  -o-animation: spinner 15s 3s infinite;
  /* Opera 12+ */
  animation: spinner 15s 3s infinite;
  /* IE 10+ */ }
  .spinner ul li {
    height: 1.4rem;
    line-height: 1.4rem;
    margin: 0;
    padding: 0; }

@keyframes spinner {
  0% {
    margin-top: 0; }

  2% {
    margin-top: -1.4rem; }

  20% {
    margin-top: -1.4rem; }

  22% {
    margin-top: -2.8rem; }

  40% {
    margin-top: -2.8rem; }

  42% {
    margin-top: -4.2rem; }

  60% {
    margin-top: -4.2rem; }

  62% {
    margin-top: -5.6rem; }

  80% {
    margin-top: -5.6rem; }

  82% {
    margin-top: 0em; }

  100% {
    margin-top: 0em; } }

@-webkit-keyframes spinner {
  0% {
    margin-top: 0; }

  2% {
    margin-top: -1.4rem; }

  20% {
    margin-top: -1.4rem; }

  22% {
    margin-top: -2.8rem; }

  40% {
    margin-top: -2.8rem; }

  42% {
    margin-top: -4.2rem; }

  60% {
    margin-top: -4.2rem; }

  62% {
    margin-top: -5.6rem; }

  80% {
    margin-top: -5.6rem; }

  82% {
    margin-top: 0em; }

  100% {
    margin-top: 0em; } }

.logo {
  max-width: 400px; }

.project-images {
  background-color: #67c4d2;
  overflow: hidden;
  padding: 2em;
  margin-bottom: 2.6em; }
  @media only screen and (min-width: 36em) {
    .project-images {
      padding: 0.1 0.3em; } }

.project-image {
  display: block;
  width: 100%;
  margin: 2.6em 0;
  padding: 1em 0;
  border-top: 1px solid #b0c4d8;
  border-bottom: 1px solid #b0c4d8; }
  .project-image img {
    display: block;
    margin: auto; }
  .project-image figcaption {
    text-align: center;
    font-weight: 300;
    font-size: 0.8rem;
    margin-top: 1rem; }
  @media only screen and (min-width: 36em) {
    .project-image:last-child {
      margin-bottom: 0; }
    .project-image.one-half {
      float: left;
      width: 49%;
      margin-right: 1%;
      margin-bottom: 0; }
      .project-image.one-half:last-child {
        margin-right: 0; } }

.link-style {
  text-decoration: underline; }

.quote-source {
  font-size: .8rem; }
