*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }

html, body {
	height: 100%;
}

html {
	font-size: $font-size-base;
	background-color: $color-page-background;
}

body {
	font-family: $font-family-base;
	font-weight: $font-weight-base;
	line-height: 1.4em;
	margin: 0;
	padding: 0;

	color: $color-text-base;
}


// Forms

label {
	display: block;
}


a {
	color: $color-text-base;
}


h1, h2, h3, h4 {
	font-family: $font-family-primary;
	font-weight: $font-weight-primary;
	font-size: 	 $font-size-header;
	//border-bottom: 1px solid $color-text-pink-dark;
	color: $color-text-pink-dark;
}

h1 {
	font-size: $font-size-header-main;
	margin-top: 0;
}

h2,h3,h4 {
	margin: 0;
	margin-bottom: .4em;
}

p {
	margin-top: 0;
}

blockquote {
	font-family: $font-family-primary;
	font-weight: $font-weight-primary;
	font-style: italic;
	letter-spacing: .05em;
	padding: 1em 0;
	margin: 0;
}