.projects {
	list-style: none;
	margin: 0;
	padding: 0;
}

	.projects__client {
		position: relative;
		min-height: 10em;
		margin-bottom: 4em;

		.project-holder {
			display: block;
			padding: .5em;
			text-decoration: none;

			&:hover, &:active {
				background-color: rgba($color-text-blue-light,.2);
				color: $color-text-base;
			}
		}

		.client__logo {
			height: 9em;
			width: 8.6em;

			@media only screen and (min-width: 36em) {
				position: absolute;
				left: -11em;
				height: 9em;
				width: 8.6em;
			}
		}

		.client__logo__image {
			width: 100%;
		}

		.client__name {
			color: $color-text-green;
			font-weight: $font-weight-primary;
			margin-top: 0;
		}
	}

.projects-logo-only {
	list-style: none;
	//margin: 0;
	margin: 0 0 5.2rem 0;
	padding: 0;
	text-align: justify;
	text-align-last: justify; 

	a {
		text-decoration: none;
	}
}
	.project-logo {
		text-align: left;
		display: inline-block;
		width: 23%;
		//margin-right: 1%;
		margin-bottom: 2.6rem;

		.client__name {
			font-size:$font-size-small;
			line-height: $line-height-small;
			color: $color-text-green;
			font-weight: $font-weight-primary;
			text-align: left;
			text-align-last: left;
			
		}

		.client__logo__image {
			display: block;
			width: 80%;
		}
	}

	//.project-logo--small {
	//	width: 12%;
	//}

.projects-logo-only--small {
	@extend .projects-logo-only;
	
	.client__name {
		display: none;
		font-size: $font-size-small;
		line-height: $line-height-small;
		font-weight: $font-weight-base;
		text-align: left;
		text-align-last: left;
	}

	a {
		text-decoration: none;
	}
}

.single-project-mainheader {
	position: absolute;
	top: 35%;
	width: 90%;
	padding: 5%;
	text-align: center;
	color: $color-white;
	text-shadow: 0 0 4px rgba(0,0,0,.4);

	.werkenvoornederland & {
		top: 20%;
	}

	h1 {
		color: $color-white;
		margin-bottom: .2em;
	//	text-shadow: 0 0 4px rgba(0,0,0,.4);
	}
}