$font-family-base: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
$font-weight-base: 300; 

//$font-family-primary: Helvetica Neue, Helvetica, Arial, sans-serif;
$font-family-primary: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
$font-weight-primary: 500; 

//$font-family-secondary: Helvetica Neue, Helvetica, Arial, sans-serif;
$font-family-secondary: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
$font-weight-secondary: 700; 


$font-size-base: 16px;