html {
  font-size: 16px; }

body {
  font-family: "Whitney SSm A", "Whitney SSm B", Arial, sans-serif;
  margin: 0;
  padding: 0;
  border-top: 1px solid transparent;
  background-color: #fafafa;
  color: #141414; }

label {
  display: block; }

h2, h3, h4 {
  font-family: "Whitney SSm A", "Whitney SSm B", Arial, sans-serif;
  margin: 0; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.container--centered {
  display: block;
  width: auto;
  margin-left: 1em;
  margin-right: 1em; }

@media only screen and (min-width: 42em) {
  .container--centered {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto; } }
@media only screen and (min-width: 36em) {
  .grid {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 40em; }

  .grid__column {
    flex: 1; }

  .grid__column--1of2 {
    flex: 0 0 49%; }

  .grid__column--1of3 {
    flex: 0 0 32%; }

  .grid__column--2of3 {
    flex: 0 0 66%; }

  .grid__column--1of4 {
    flex: 0 0 24%; }

  .grid__column--3of4 {
    flex: 0 0 74%; }

  .grid__column--1of5 {
    flex: 0 0 20%; }

  .grid__column--primary {
    flex: 0 0 60%; }

  .grid__column--secondary {
    flex: 0 0 37%; } }
.component {
  padding: 1em 0;
  margin-bottom: 3em;
  border-top: 8px solid #141414;
  border-bottom: 8px solid #141414; }

.masthead__holder {
  position: relative;
  background-position: 50% -60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto 1em auto;
  max-height: 210px;
  width: 100%; }
  .masthead__holder:after {
    content: "";
    display: block;
    padding-bottom: 50%; }

.masthead {
  padding-top: 2em; }

@media only screen and (min-width: 36em) {
  .masthead__holder {
    margin-top: 3em; } }
.hamburger {
  text-decoration: none;
  margin-left: .5em;
  font-size: 2em; }

.mainnav {
  list-style: none;
  margin: 0;
  padding: 0; }

.mainnav__item {
  text-align: center; }
  .mainnav__item a {
    display: inline-block;
    padding: 1em 0;
    width: 100%;
    height: 100%;
    color: #000; }

@media only screen and (min-width: 36em) {
  .hamburger {
    display: none; }

  .mainnav {
    position: absolute;
    top: 0em; }

  .mainnav__item {
    display: inline-block;
    font-size: 75%; }
    .mainnav__item a {
      padding-left: 0; } }
.debug-fill {
  background-color: red; }

.debug-line {
  outline: 1px solid blue; }

.maintitle {
  font-size: 2em;
  font-weight: 600;
  margin-left: -28px; }

.maintitle__subtitle {
  display: block;
  font-size: 60%; }

.mainnav__item {
  background-color: #CCC; }
  .mainnav__item:hover {
    background-color: #000; }
    .mainnav__item:hover a {
      color: #FFF; }
