.debug-fill {
	background-color: red;
}

.debug-line {
	outline: 1px solid blue;
}


.maintitle {
	font-size: 2em;
	font-weight: 600;
	//color: $color-white;
	margin-left: -28px;
}

	.maintitle__subtitle {
		display: block;
		font-size: 60%;
	}



.mainnav__item {
	background-color: #CCC;

	&:hover {
		background-color: #000;

		a {
			color: #FFF;
		}
	}
}