.projects {
	list-style: none;
	margin: 0;
	padding: 0;

	.projects__client {
		position: relative;
		min-height: 10em;
		margin-bottom: 1em;

		a {
			text-decoration: none;

			&:hover, &:active {
				color: $color-text-base;
			}
		}




		.client__logo {
			height: 9em;
			width: 8.6em;

			@media only screen and (min-width: 36em) {
				position: absolute;
				left: -11em;
				height: 9em;
				width: 8.6em;
			}
		}

		.client__logo__image {
			width: 100%;
		}

		.client__name {
			color: $color-text-green;
			font-weight: $font-weight-primary;
		}
	}


}


/*
.projects {
	margin: 0;
	padding: 0;
	text-align: justify;
	text-align-last: justify;


	li {
		display: inline-block;
		width: 30%;
		//margin-right: 3%;
		//line-height: 100%;
		margin-bottom: 2em;
		min-height: 12em;
		text-align: left;
		vertical-align: top;

		a {
			display: block;
			border-bottom: none;
			//color: #213439;
			cursor: default;

			> div {
				background-color: #FFF;
				padding: 20%;
				//height: 7em;
				line-height: 7em;
				text-align: center;
				display:block;
				//vertical-align: middle;
				//box-shadow: 0 4px 10px -4px rgba(0,0,0,.5);


			}
		}

		
		img {
			width: 60%;
			vertical-align: middle;
		}
	}

	h3 {
		margin: .333em 0 .766em 0;
		font-size: 1.1em;
		line-height: 1.1em;
		text-align: left;
	}
}


.opdrachtgevers {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: left;
	//text-align-last: justify;

	li {
		display: inline-block;
		width: 160px;
		margin-right: 20px;
		
		padding: 10px;
		margin-bottom: 20px;
		//background-color: #FFF;

		//box-shadow: 0 0 10px #000 inset;
		//border: 1px solid rgba(255,255,255,.1);

		h3 {
			margin: 0;
			font-size: 1em;
			line-height: 2em;
		}

		img {
			width: 100%;
		}
	}

	a { 
		display: block;
		border-bottom: none;
	}


	&.small {
		text-align: left;

		li {
			width: 100px;
			margin-right: 10px;
			margin-bottom: 10px;

			h3 {
				font-size: .8em;
			}
		}
	}

}

*/
