$font-family-base: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
$font-weight-base: 300; 

$font-family-primary: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
$font-weight-primary: 500; 

$font-family-secondary: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
$font-weight-secondary: 700; 


$font-size-base: 			1.6rem;
$line-height-base: 			1.625;
$font-size-header-main: 	2.6rem;
$line-height-header-main: 	1rem;
$font-size-header:			1.8rem;
$line-height-header:		2.888rem;

