.logo {
	max-width:400px;
}

.project-images {
	background-color: $color-text-green;
	//background-color: transparent;
	overflow: hidden;
	padding: 2em;
	margin-bottom: 2.6em;
	

	@media only screen and (min-width: 36em) {
		padding: .1.3em;
	}

}

.project-image {
	display: block;
	width: 100%;
	margin: 2.6em 0;
	padding: 1em 0;
	
	border-top: 1px solid $color-text-blue-light;
	border-bottom: 1px solid $color-text-blue-light;


	@media only screen and (min-width: 36em) {
		&.pull-left {
			//width: 120%;
			//margin-left: -20%;
		}
	}

	@media only screen and (min-width: 60em) {
		&.pull-left {
			//width: 150%;
			//margin-left: -50%;
		}
	}

	img {
		display: block;
		margin: auto;
	}

	figcaption {
		text-align: center;
		//display: block;
		font-weight: 300;
		font-size: $font-size-small;
		margin-top: 1rem;
	}

	@media only screen and (min-width: 36em) {
		&:last-child {
			margin-bottom: 0;
		}

		&.one-half {
			float: left;
			width: 49%;
			margin-right: 1%;
			margin-bottom: 0;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.link-style {
	text-decoration: underline;
}

.quote-source {
	font-size: .8rem;
}