.screen {
	position: relative;
	z-index: 10;
	min-height: 40%;
	background-color: rgb(42, 42, 42);
	background-position: 50% 100%;
	background-attachment: scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;

	@media only screen and (min-width: 36em) {
		min-height: 60%;
	}


	.maintitle {
		position: absolute;
		bottom: 5%;
		left: 5%;
		z-index: 20;
		width: 30%;

		@media only screen and (min-width: 36em) {
			width: 33%;
			//max-width: 
		}

		.logo {
			max-width: 280px;
		}
	}

	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		background-color: rgba($color-text-pink-dark, .1);
	}
}

	.screen--intro {
		background-image: url('../images/screens/launch-2.jpg');
		min-height: 100%;
		//padding-top: 30%;

		.maintitle { 
			//margin: auto;
			//position: relative;
			//width: 50em;
			//padding-left: 20em;
			//left: 0;
		}

		.maincontent {

		}


		&:before {
			//content: "\00BB";
			position: fixed;
			bottom: 2%;
			left: 50%;

			font-size: 5em;

			z-index: 11;

			color: $color-white;
			opacity: 0;

			-webkit-animation: arrow-fade 2.5s 5s 5 linear;
			-moz-animation: arrow-fade 2.5s 5s 5 linear;
			animation: arrow-fade 2.5s 5s 5 linear;
			-webkit-transform: rotate(90deg) translate3d(0, 0, 0);
			-moz-transform: rotate(90deg) translate3d(0, 0, 0);
			transform: rotate(90deg) translate3d(0, 0, 0);
		}


		@media only screen and (min-width: 60em) {
			-webkit-background-size: 180%;
			-moz-background-size: 180%;
			background-size: 180%;
		}
	}

	@-webkit-keyframes arrow-fade {
		from { opacity: 0; bottom: 2%; }
		to { opacity: .2; bottom: -4%; }
	}

	@-moz-keyframes arrow-fade {
		from { opacity: 0; bottom: 2%; }
		to { opacity: .2;bottom: -4%; }
	}

	@keyframes arrow-fade {
		from { opacity: 0; bottom: 2%; }
		to { opacity: .2; bottom: -4%; }
	}

	.screen--projects {
		background-image: url('../images/screens/launch.jpg');
		background-position: 50% 50%;
	}

	.screen--single-project {
		background-image: url('../images/screens/explore-moon-2.jpg');
		background-position: 50% 30%;

		min-height: 50%;

		@media only screen and (min-width: 36em) {
			min-height: 50%;
		}

		.maintitle {
			bottom: auto;
			left: 2%;
			top: 30%;

			width: 96%;
			text-align: center;
		}
	}

	.screen--article {
		background-image: url('../images/screens/explore-moon.jpg');
		//background-image: none;
		background-position: 50% 0%;
		background-size: 100% auto;
		background-attachment: fixed;
		//height: 20%;
		min-height: 350px;

		@media only screen and (min-width: 36em) {
			min-height: 325px;
		}
	}


	.screen--about {
		background-image: url('../images/screens/horizon.jpg');
	}

	.screen--contact {
		background-image: url('../images/screens/nebula-2.jpg');
		background-position: 50% 0%;
	}



.maincontent {
	position: relative;
	//z-index: 20;
	padding-top: 2em;
	padding-bottom: 2em;
}

.container--centered {
	display: block;
	width: auto;
	margin-left: 1em;
	margin-right: 1em;
	max-width: 36em;
	//padding-left: 2em;

	@media only screen and (min-width: 36em) {
		padding-left: 10em;
		margin-left: auto;
		margin-right: auto;
	}

	@media only screen and (min-width: 60em) {
		padding-left: 20em;
		max-width: 50em;
		position: relative;

		.mainquote {
			position: absolute;
			left: 0;
			//top: 2em;

			max-width: 19em;
			margin-left: 0;

			&:before {
				@media only screen and (min-width: 60em) {
					min-width: 4rem;
				}
			}
		}
	}
}

.container--full-width {
	padding-left: 0;
}





.component {
	padding: 1.3em 0 0 1.3em;
	margin-bottom: 5.2rem;
		
	.component__content {
		margin-left: 2px;
	}
}

	.component--primary,
	.component--secondary {
		background-color: transparent;
		color: $color-white;

		display: -webkit-flex;
		display: -moz-flex;
		display: flex;
		padding: 0;

		.component__content {
			padding: 1.3em;
			margin-left: 2px;
			-moz-flex: 0 1 auto;
			-webkit-flex: 0 1 auto;
			flex: 0 1 auto;
			width: 100%;
		}

		&:before {
			-moz-flex: 0 1 auto;
			-webkit-flex: 0 1 auto;
			flex: 0 1 auto;
			min-width: 2rem;

			@media only screen and (min-width: 36em) {
				content: '';
			}

			@media only screen and (min-width: 36em) {
				min-width: calc(10rem - 2px);
			}

		}

		h1, h2, h3, h4, a {
			color: $color-white;
			border: none;
		}
	}

	.component--quote {
		text-align: center;
		margin-bottom: 2.6rem;
		
		&:before {
			@media only screen and (min-width: 36em) {
				font-size: 6rem;
				content: open-quote; 
				color: rgba($color-black, .3);
				//padding: 3% 0 0 6%;
			}

			@media only screen and (min-width: 60em) {
				font-size: 6rem;
				padding-left: 0;
				padding-top: 10%;
			}
		}
	}

	.component--primary {
		//margin-left: -2em;

		@media only screen and (min-width: 36em) {
			margin-left: -10em;
		}

		&:before {
			background-color: $color-text-blue-light;
		}

		.component__content {
			background-color: $color-text-green;
		}

		&.overlay {
			&:before {
				background-color: rgba($color-text-blue-light, .8);
			}

			.component__content {
				background-color: rgba($color-text-green, .8);
			}
		}
	}

	.component--secondary {
		//margin-left: -2em;

		@media only screen and (min-width: 36em) {
			margin-left: -10em;
		}

		&:before {
			background-color: rgba($color-text-blue-light, 1);
		}

		.component__content {
			background-color: rgba($color-text-pink-dark, 1);
		}


		&.overlay {
			&:before {
				background-color: rgba($color-text-blue-light, .6);
			}

			.component__content {
				background-color: rgba($color-text-pink-dark, .6);
			}
		}
	}


.pull-left {
	//margin-left: -4em;

	@media only screen and (min-width: 36em) {
		//margin-left: -20em;
	}
}

.pull-right {

	@media only screen and (min-width: 40em) {
		//margin-right: -4em;
	}
}

