.masthead__holder {
	position: relative;
	background-position: 50% -60px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin: 0 auto 1em auto;
	max-height: 210px;
	width: 100%;

	&:after {
		content: "";
		display: block;
		padding-bottom: 50%;
	}
}


.masthead {
	padding-top: 2em;
}



@media only screen and (min-width: 36em) {
	.masthead__holder {
		margin-top: 3em;
	}
}