html {
	font-size: $font-size-base;
}

body {
	font-family: $font-family-base;
	margin: 0;
	padding: 0;

	border-top: 1px solid transparent;
	background-color: $color-page-background;
	color: $color-text-base;
}


// Forms

label {
	display: block;
}


a {
	//color: 
}

h2,h3,h4 {
	font-family: $font-family-primary;
	margin: 0;
}