.hamburger {
	//display: none;
	text-decoration: none;
	//margin-left: .5em;
	font-size: 3em;
	position: fixed;
	right: 2%;
	top: 0;
	z-index:99;
	color: $color-white;

	text-shadow: 1px  1px 0px rgba(0, 0, 0,.4),
				-1px -1px 0px rgba(0, 0, 0,.4),
				 1px -1px 0px rgba(0, 0, 0,.4), 
				-1px  1px 0px rgba(0, 0, 0,.4)
}


.mainnav {
	list-style: none;
	margin: 0;
	padding: 0;
}


	.mainnav__item {
		text-align: center;

		a {
			display: block;
			padding: .7em 0;
			width: 100%;
			height: 100%;
			color: $color-black;
			font-weight: $font-weight-secondary;

			text-decoration: none;
		}
	}


@media only screen and (min-width: 36em) {
	.hamburger {
		display: none;
	}

	.mainnav {
		position: absolute;
		top: 3px;
		left: 0;
		right: 0;
		text-align: right;
		padding-right: 2%;

		//background-color: rgba($color-text-pink-dark, .8);

		&:hover {
			.mainnav__item {
				a {
					color: rgba($color-gray, .3);
				}

				&:hover {
					a {
						color: $color-text-pink-dark;
					}
				}
			}




		}
	}

	.mainnav__item {
		display: inline-block;
		font-size: 83%;
		//background-color: transparent;
		//border-bottom: 0px solid $color-text-pink-dark;
		//transition: border-bottom-width linear .3s;

		a {
			padding: .7em 1em;
		}

		&:hover {
			//background-color: transparent;
			//border-bottom-width: 5px;

			a {
				//background-color: rgba($color-white, .2);
				//color: #FFF;
			}
		}
		
	}
}