.masthead__holder {
	position: relative;
	background-position: 50% -29em;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin: 0 auto 1em auto;
	max-height: 13em;
	width: 100%;

	&:after {
		content: "";
		display: block;
		padding-bottom: 50%;
	}
}


.masthead {
	padding-top: 1em;
}


	.maintitle__subtitle {
		display: block;
		font-size: 80%;
		margin-left:2%;
		margin-top: 1em;
		color: $color-white;
	}





@media only screen and (min-width: 36em) {


	.masthead__holder {
		margin-top: 2.4em;
		background-position: 50% -14em;
		max-height: 25em;
		border-top: 1px solid rgba($color-gray, 0.1);
		box-shadow: 0 0 5px rgba($color-gray, 0.2) inset;
	}

	.maintitle__subtitle {
		display: inline-block;
		margin-left: 3em;
		margin-top: 0;
	}

	.masthead {
		padding-top: 8em;
	}


}