
fieldset {
	border: none;
	padding: 0;
	overflow: hidden;
}

label {
	display: block;
	margin-top: 1rem;
}

textarea {
	min-height: 10rem;
}

.input--regular {
	font-size: 1.2rem;
	padding: .6rem;
	width: 100%;
	border: 1px solid $color-gray;
}


.button--regular {
	display: inline-block;
	float: right;
	padding: .5rem 1em;
	font-size: 1.2rem;

	background-color: $color-text-pink-dark;
	color: $color-white;
	border: 1px solid rgba($color-gray,.4);
}